.header
  %h2.header__title
    = link_to root_path do
      Poemer
  %ul.header__lists
    %li.list
      = link_to  "ログアウト", destroy_user_session_path, method: :delete
    %li.list
      = link_to "投稿", new_blog_path, method: :get
    %li.list
      = link_to "マイページ", user_path(current_user.id), method: :get
