html, body { height: 100vh; }

.favorite{
  width: 100vw;
  height: 10vh;
  background-color: $headcolor;
  position: relative;
  .favorite__title{
    width: 100vw;
    text-align : center;
    font-size: 30px;
    line-height: 10vh;
    font-weight: bold;
    color: $wordcolor;
  }
}

.favoritepage{
  width: 100vw;
  height: 100vw;
  background-color: $backcolor;
  position: relative;
  .pagination{
    position: absolute;
    right: 48vw;
    bottom: 0px;
  }
  .favoritepagecontent{
    width: 100vw;
    height: 100vw;
    float: left;
    .favoritepagecontents{
      width: 800px;
      height: 400px;
      background-color: $blogback;
      border: 2px solid $black;
      position: relative;
      margin: 0 auto;
      margin-bottom: 5px;
      .favoritepage__poems{
        width: 800px;
        height:100%;
        float:left;
        margin: auto;
        .favoritepage__poems-text{
          padding: 20px;
          height: 90%;
          margin: 0 auto;
          position: reletive;
          img {
          width:auto;
          height:auto;
          max-width:60%;
          max-height:60%;
          float:left;
          position: absolute;
          bottom: 20px;
          left: 20px;
          margin:0 auto;
          }
        }
      }
    }
  }
}
.title{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
