// $white: #fff;
// $backcolor: #F5F5F5;
// $wordcolor: #2E8B57;
// $headcolor: #FFFF00;

html, body { height: 100vh; }

.header{
  width: 100vw;
  height: 10vh;
  background-color: $headcolor;
  position: relative;
  &__title{
    float: left;
    width: 100vw;
    text-align : center;
    font-size: 30px;
    line-height: 10vh;
    font-weight: bold;
    color: $wordcolor;
  }
  &__lists{
    float: right;
    width: calc(100vw - 1200px);
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
    .list{
      float: right;
      padding: 0 10px;
      height: 100%;
      line-height: 10vh;
      color: $wordcolor;
    }
  }
}
